#footerDiv{
    display: flex;
    justify-content: space-around;
    background: #03738C;
    position: absolute;
    bottom: 0;
    width: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    
}
h1{
    font-size: 110%;
}
p{
    color:#F2F2F2;
    margin-left: 5px;
    font-size: 60%;
    margin-bottom:0;
    margin-top: 0;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 100px;
    margin-bottom: 10px;
}
.direccion{
    margin-left: 5%;
}
.info{
    margin-bottom: 20%;
}