#footerDiv{
    display: flex;
    justify-content: space-around;
    background: #037386;
    
    bottom: 0;
    width: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    
    
}
h1{
    font-size: 110%;
}
p{
    color:#F2F2F2;
    margin-left: 5px;
    font-size: 60%;
    margin-bottom:0;
    margin-top: 0;
}
.Contacto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info{
    margin-bottom: 20%;
}
.direccion{
    margin-top: 10px;
}