body {
  margin: 0;
  padding: 0;
  display: block;
}

.topBar {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 0px;
  width: 100%;
  padding-right: 0px;
  background-color: #037386;
}

.topBarLinks {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
}

.topBarLinks > li{
  display: inline-block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
  border-radius: 0px;
  background-color: rgba(242, 242, 242, 0.1);
}

header a{
  text-decoration: none;
  color: black;

}

header a:hover {
  color: white;
}

