
<main class="mainContent">
    <img id="banner" src="../assets/Banner.PNG"/>
    <div id="box">   
        <section id="quienesSomos">
            <div class="tarjetaSection"><p class="tituloSection">¿Quiénes somos?</p></div>
            <article>
                <div id="contenedorDescripcion"><p id="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis enim at tortor lacinia mollis. Sed diam nunc, molestie eget enim a, luctus cursus odio. Donec quam enim, feugiat quis rutrum vitae, sagittis sit amet lorem. Nunc ut fringilla nulla. Suspendisse consectetur porttitor erat pretium luctus. Donec in iaculis lectus. Praesent tempor ligula vitae massa ornare, convallis ornare diam congue. Maecenas iaculis a purus vel posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis enim at tortor lacin.</p></div>
                <img id="portada" src="../assets/Banner.PNG"/>
            </article>
        </section>
        
        <section id="ubicacion">
            <div class="tarjetaSection"><p class="tituloSection">Ubicación</p></div>
            <div id="map">
                <iframe id="ubi" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1522.6367184733022!2d-15.439178534715428!3d28.13284769083306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc40953ddccbc2a3%3A0x7b869f53ef162c72!2sElectro%20Disuar!5e0!3m2!1ses!2ses!4v1677495426478!5m2!1ses!2ses" width="400" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section id="marcas">
            <div class="tarjetaSection"><p class="tituloSection">Marcas en ElectroDisuar</p></div>
            <div id="conjuntoMarcas">
                <div class="contenedorMarca">
                    <img class="imagen" src="../assets/marcas/IMAGEN.png"/>
                </div>
                
                <div class="contenedorMarca">
                    <img class="imagen" src="../assets/marcas/IMAGEN.png"/>
                </div>
                <div class="contenedorMarca">
                    <img class="imagen" src="../assets/marcas/IMAGEN.png"/>
                </div>
                <!--<p>Hoooooooooooooooo</p>
                <div class="contenedorMarca" *ngFor="let imagen of imagenes">
                    <img class="imagen" src="{{ imagen.ruta }}"/>
                </div>-->
            </div>
        </section>
    </div>
</main>

