<header></header>
<main>
    <img id="banner" src="../resources/Banner.PNG"/>
    <div id="box">    
        <section id="quienesSomos">
            <div class="tarjetaSection"><p class="tituloSection">Section Title</p></div>
            <article>
                <div id="contenedorDescripcion"><p id="descripcion"></p></div>
                <img id="portada" src="../resources/Banner.PNG"/>
            </article>
        </section>
        
        <section id="ubicacion">
            <div class="tarjetaSection"><p class="tituloSection">Section Title</p></div>
            <div id="map">
                <iframe id="ubi" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1522.6367184733022!2d-15.439178534715428!3d28.13284769083306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc40953ddccbc2a3%3A0x7b869f53ef162c72!2sElectro%20Disuar!5e0!3m2!1ses!2ses!4v1677495426478!5m2!1ses!2ses" width="400" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section id="marcas">
            <div class="tarjetaSection"><p class="tituloSection">Section Title</p></div>
            <div id="conjuntoMarcas">
                <div class="contenedorMarca">
                    <img class="imagen" src="#s"/>
                </div>
                
                <div class="contenedorMarca">
                    <img class="imagen" src="#"/>
                </div>
                <div class="contenedorMarca">
                    <img class="imagen" src="#"/>
                </div>
            </div>
        </section>
    </div>
</main>
<footer></footer>
<script src="./script.js"></script>
