body{
  background-color: #f2f2f2;
}

header{
  top: 0;
}

.contactanos {
  margin: 0;
  padding: 0;
  padding-top: 130px;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

footer{
  bottom: 0;
}

.formulario{
  margin-left: 5%;
  margin-right: 5%;
}

input{
  width: 600px;
  height: 20px;
  max-width: 100%;
  border-radius: 5px;
  border-color: #037386;
  background-color: #037386;
  color: white;
}

.mensaje{
  height: 100px;
  text-align: initial;
}

.boton{
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: #24889e;
  border-color: #24889e;
  font-weight: bold;
}

.boton:hover{
  background-color: white;
}