<article class="productoPrincipal">
    <div class="wrapper">
        <div class="wrapperProducto">
            <a href="#">
                 <img src="../resources/IMAGEN.png" alt="" class="producto">
            </a>
           
        </div>
        <div class="grid-container">
                <h2 class="nombreProducto">Producto</h2>
                <h3 class="precio">precio</h3>
                <div class="disponibilidad">
                    disponibilidad
                    <div class="circulo"></div>
                </div> 
        </div>
    </div>
</article>