<article class="productoPrincipal">
    <div class="imagenProducto">
    <img src="../IMAGEN.png" class="imPro"alt="producto"></div>
    <h1>Nombre del producto</h1>
    <div class="primeraFila">
    <h2>Precio €</h2>
    <div class="disponibilidad">Disponibilidad en tienda <div class="circulo"></div></div>
    </div>
    <h3>Descripción</h3>
    <div class="descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, vitae tempore. Repudiandae nam dolorem qui? Expedita impedit, sint numquam est modi sapiente fugit. Magni vel voluptate quidem voluptatem velit reprehenderit.
    </div>
</article>