<article class="productoPrincipal">
    <div class="wrapper">
        <div class="wrapperProducto">
            <a [routerLink]="['/producto/',product.nombre,product.disponibilidad,product.oferta,product.seccion,product.rutaImagen,product.precio,product.id]" routerLinkActive="active-link">
                 <img src={{rutaImg}} alt="" class="producto">
            </a>
        </div>
        <div class="grid-container">
                <h2 class="nombreProducto">{{product.nombre}}</h2>
                <h3 class="precio">{{product.precio}}</h3>
                <div class="disponibilidad">
                    disponibilidad
                    <div class="circulo" *ngIf="product.disponibilidad"></div>
                    <div class="circulo" *ngIf="!product.disponibilidad" style="background: lightcoral !important;"></div>
                </div> 
        </div>
    </div>
</article>