<main class="mainContent">
    <article class="productoPrincipal">
        <div class="imagenProducto">
        <img src={{imgurl}} class="imPro"alt="producto"></div>
        <section id="informacion">

            <h1 class="nombreProducto">{{product.nombre}}</h1>

            <div class="descripcion">
                {{product.detalle}}
            </div>
            
            <div class="envoltorio">
            <div class="fila">
            <h2 class="precio">{{product.precio}}</h2>
            <div class="disponibilidad">Disponibilidad
                <div class="circulo" *ngIf="obs | async"> </div>
                <div class="circulo" *ngIf="!(obs | async)" style="background: lightcoral !important;"> </div>
            </div>
            
            </div></div>
        </section>
    </article>
    <aside>
        <h2 class="rel">Productos Relacionados</h2>
        <app-carrusel [productsFiltered]="productsFiltered"></app-carrusel>
    </aside>
</main>