
<main>
    <div id="contTitle">
        <p id="title"></p>
    </div>
    <div id="contSubtitle">
        <p id="subtitle"></p>
    </div>
    <div id="contenedorFormulario">
        <form>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Acceder">
        </form>
    </div>
</main>
