body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url("assets/Fomdo.jpg");
    background-size: 100vw 100vh;
    min-height: 100%;
}

html,body{
    height: 100%;
}
main{
    display: list-item;
    min-height: 100%;
    margin-top: 0px;
}
 app-root{
    display:list-item;
    min-height: 100% ;
}

.mainContent{
    display:list-item;
    min-height: calc(100vh - 68px - 44px);
}
app-footer{
    height: 68px;
    bottom: 0px;
    width: 100vw;
}



