
header{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}
.ofertasSection{
    height:100%;
    display: flex;
    width: 100%;
    background-color: #03738C;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}
article{
    margin-left: 10%;
    margin-right: 10%;
}

.imagen{
    width: 20%;
    overflow: hidden;
    margin-right: 10px;
    /*border: 4px solid #03738C;*/
    border-right: 0px;
    
}
.ofertasSection img{
    height: 100%;
    width: 100%;
    vertical-align: top;
    
}
.productoInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.mainProduct{
    display: flex;
    flex-direction: row;
    height: auto;
}

.productName{
    font-size: 25px;
    margin-right: 0px;
    width: 75%;
    margin-top: 2px;
}
.descuento {
    height: auto;
    margin-top: 2px;
    font-size: 25px;
    color: white;
}
.price{
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 4px;
    color: white;
}

.antes{
    font-size: 20px;
    width: 35%;
    margin: 1px;

}

.despues{
    font-size: 20px;
    margin: 1px;
}




.destacadoSection{

}