<header id="header">
    <nav>
      <!--Componente del header--> 
    </nav>
  </header>
  <header>
    <div class="presentacion">
      <img src="assets/Banner.PNG" alt="Foto de la tienda" class="foto">
      <div class="textos">
        <p class="titulo">ElectroDisuar</p>
        <p class="subtitulo">Siempre a tu lado, queremos ser la resistensia de tu diodo</p>
      </div>
    </div>
  </header>
  <main>
    <section class="contenido">
      <section class="galeria">
        <div class="subtitulo1">
          <p>Productos destacados</p>
        </div>
        <article id="carrusel">
          <!-- Componente Carrusel -->
        </article>
      </section>
      <section class="novedades">
        <div class="subtitulo2">
          <p>Novedades</p>
        </div>
          <article id="carrusel2">
            <!-- Componente Carrusel -->
          </article>
      </section>
    </section>
  </main>
  <footer id="footer">
    <!-- Componente del footer -->
  </footer>