body {
  margin: 0;
  padding: 0;
}

.topBar{
  background-color: #2E4052;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marco{
  background-color: #03738C;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.logo{
  width: 50%;
  height: 50%;
}

.contenedorLinks{
  display: flex;
  align-content: center;
  justify-content: flex-end
}

.topBarLinks{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin:auto;
  padding-inline-start: 0;
}

.topBarLinks li{
  padding: 10px;
  padding-left: 15px;
  margin: 0;
}

.topBarLinks a{
  transition: color 0.5s ease;
}

.topBarLinks a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.topBarLinks a:hover{
  color: lightcoral;
}

.marco2{
  background-color: #03738C;
  width: auto;
  height: auto;
}