body {
  margin: 0;
  padding: 0;
}

.topBar{
  background-color: #2E4052;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.marco{
  background-color: #03738C;
  width: 20%;
  height: 20%;
  border-radius: 5px;
}

.logo{
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.contenedorLinks{
  display: flex;
  align-content: center;
  justify-content: flex-end
}

.topBarLinks{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  list-style: none;
  margin:auto;
}

li{
  padding: 10px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.Acceder{
  background-color: #03738C;
}

